.inputDiv {
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   overflow-x: hidden;
   background-color: #fff
}

.centeredInput {
   position: absolute;
   top: 30%;
   left: 20%;
   transform: translate(20%, -37%);
   text-align: center;
   padding: 15%;
   color: #000
}

.armyName {
   position: absolute;
   top: 10%;
   left: 10%;
   transform: translate(28%, -40%);
   font-size: 220%;
   color: #000
}

.armyCount {
   position: absolute;
   top: 55%;
   left: 25%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-style: solid;
   border-width: 4px;
   border-color: #000;
   padding: 5%;
   font-size: 137px;
   color: #000
}

.inputBtnsContainer {
   display: flex;
   flex-wrap: wrap
}

.inputBtns {
   width: 28%;
   margin: 2%;
   text-align: center;
   line-height: 140%;
   text-decoration: none;
   background-color: #fff;
   outline: 0;
   font-size: 360%;
   font-family: monospace
}

#okBtn {
   background-Color: green
}

#cBtn {
   background-Color: red
}